{{!-- <div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form class="card-body newPostForm">
    <label class="form-label" for="post-title">Title</label>
    <input type="text" name="post-title" class="form-input" id="postTitle"/>

    <label class="form-label" for="post-body">Content</label>
    <textarea name="post-body" class="form-input" id="postContent"></textarea>

    <button type="submit" class="btn">Create</button>
  </form>
</div> --}}

{{!-- <script src="/js/post.js"></script> --}}

<div class="posts">
    {{!-- {{#each post}} --}}
    <div class="card">
        <div class="card-body">
            <h2>
                <a href="/post/{{id}}">{{title}}</a>
            </h2>
            <div>
                Posted by {{user.username}} on {{format_date createdAt}}
            </div>
            <div class="cardBody">
                {{content}}
            </div>
        </div>
    </div>
    {{> comment}}
    {{!-- {{/each}} --}}
</div>