{{!-- create a card to display the selected post --}}
<div class="posts">
  <div class="card">
    <div class="card-body">
      <h2>{{title}}</h2>
      <div class="cardBody">
        {{content}}
      </div>
      <div>
        <h5>Posted by {{user.username}} on {{format_date createdAt}}</h5>
      </div>
    </div>
  </div>
</div>
{{!-- create a form to enter comment to the selected post --}}
<div>
  <form class="card-body newCommentForm">
    <label class="form-label" for="post-body">Comment</label>
    <textarea name="post-body" class="form-input" id="postComment"></textarea>
    <button type="submit" class="btn">Create Comment</button>
  </form>
</div>

<div>
  <h3>Comments</h3>
</div>
{{!-- create a card to show each message if available --}}
{{#each post_comments}}
<div class="comments">
  <div class="card">
    <div class="card-body">
      <div class="cardBody">
        {{comment}}
      </div>
      <div>
        <h5>Posted by {{user.username}} on {{format_date createdAt}}</h5>
      </div>
    </div>
  </div>
</div>
{{/each}}
<script src="/js/post.js"></script>