<div class="posts">
  <div class="card">
    <div class="card-body">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div class="cardBody">
        {{content}}
      </div>
      <div>
        <h5>Posted by {{user.username}} on {{format_date createdAt}}</h5>
      </div>
    </div>
  </div>
</div>

<div>
  <form class="card-body newCommentForm">
    <label class="form-label" for="post-body">Comment</label>
    <textarea name="post-body" class="form-input" id="postComment"></textarea>
    <button type="submit" class="btn">Create Comment</button>
  </form>
</div>

<div>
  <h2>Comments</h2>
</div>

{{#each post_comments}}
<div class="comments">
  <div class="card">
    <div class="card-body">
      <div class="cardBody">
        {{comment}}
      </div>
      <div>
        <h5>Posted by {{user.username}} on {{format_date createdAt}}</h5>
      </div>
    </div>
  </div>
</div>
{{/each}}
<script src="/js/post.js"></script>